# .clang-format for C, C++ and Java.
# Copyright (C) Justus Languell 2020.
BasedOnStyle: LLVM    
IndentWidth: 4
---
Language: C    
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
DerivePointerAlignment: false    
PointerAlignment: Left    
ColumnLimit: 120
ContinuationIndentWidth: 8    
AllowShortBlocksOnASingleLine: false    
AllowShortCaseLabelsOnASingleLine: false    
AllowShortEnumsOnASingleLine: true    
AllowShortFunctionsOnASingleLine: false    
AllowShortIfStatementsOnASingleLine: AllIfsAndElse    
AllowShortLoopsOnASingleLine: true    
IndentRequires: true    
SpaceAfterTemplateKeyword: false    
# BreakBeforeBraces: Stroustrup
BreakBeforeBraces: Allman
UseTab: Never
AlignOperands: true
AlignTrailingComments: true
AccessModifierOffset: -4